:root {
    --white-color: #fff;
    --white-transparent-color: #d7ccc0;
    --light-color: #f5f4f0;
    --basic-color: #fe8a02;
    --basic-dark-color: #fe8a02;
    --dark-color: #2a2626;
    --dark-transparent-color: #2a2626;
    --primary-dark: #42413c;
    --brown-color: #b09a81;
    --blue-color: #b09a81;
}

h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

body {
    margin: 0;
    padding: 0;

    color: var(--dark-color);

    font-weight: normal;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    line-height: 160%;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.section-container {
    width: 1110px;
    margin: 0 auto;
    padding: 100px 0;
}

.bkg-main::before {
    position: absolute;

    width: 100%;
    height: 100%;

    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;

    content: '';
}

.title {
    font-size: 72px;
    font-family: Neucha, cursive;
    line-height: 120%;
}

.sub-second-title {
    font-size: 60px;
    font-family: Neucha, cursive;
    line-height: 120%;
}

.sub-third-title {
    font-size: 34px;
    font-family: Neucha, cursive;
    line-height: 120%;
}

.text-white {
    color: var(--white-color);
}

.text-orange {
    color: var(--basic-color);
}

.button {
    padding: 12px 24px;

    color: var(--white-color);

    background: var(--basic-dark-color);
}

.button:hover {
    background: red;
}

.display-flex {
    display: flex;
}

.space-around {
    justify-content: space-between;
}

.col-2 {
    width: calc(50% - 15px);
}

.header {
    position: relative;

    min-height: 960px;

    background: var(--light-color);
}

.header h2 {
    margin: 0 0 225px;
}

.header p {
    margin: 0 0 30px;
}

.header::after {
    position: absolute;

    top: 55px;
    right: -270px;

    width: 100%;
    height: 525px;

    background-image: url(../img/main.png);
    background-repeat: no-repeat;

    content: '';
}

.header-button {
    text-transform: uppercase;
}

.about {
    text-align: center;
}

.about h2 {
    margin: 0 0 36px;
}

.about p {
    margin: 0 0 35px;
}

.video {
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.nav {
    background: var(--primary-dark);
}
